.recentTransactions{
    background-color: white;
}

.transctionItems{
    margin: 0 10px;
    border: 1px solid grey;
    margin-bottom: -1px;
}

.transctionItems > * {
    display: inline-block;
    margin: 5px 10px;
    vertical-align: middle;
}

#merchantText{
    font-weight: bold;
}

#merchantLogo{
    width: 45px;
}

#amount{
    float: right;
    font-size: larger;
    font-weight: bolder;
}

header{
    padding: 20px 15px;
}

.allTransactions{
    padding-bottom: 10px;
}