form.searchbar button {
    float: left;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid grey;
    cursor: pointer;
    outline: none;
}

form.searchbar input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid grey;
    float: left;
    outline: none;
}

